<div id="multiplayerContent">
    <div id="multiplayerBox">

<!--      <a href="http://localhost:4000/multiplayer/joinrandom"></a>-->
      <input type="button" value="JOIN RANDOM ROOM" onclick="sendRedirect()">

      <script>
        function sendRedirect()
        {
          window.location.href = 'http://localhost:4000/multiplayer/joinrandom';
        }
      </script>

<!--        <div>OR</div>-->
<!--        <input type="text" name="roomId" id="roomId" placeholder="ENTER ROOM ID TO CREATE">-->
<!--        <input type="button" value="CREATE ROOM">-->
<!--        <input type="text" name="joinRoom" id="joinId" placeholder="ENTER ROOM ID TO JOIN">-->
<!--        <input type="button" value="JOIN ROOM">-->


    </div>  
</div>