    <div id="container">
        <div id="timer"></div>
        <div id="content"></div>

        <!-- <input type="textfield" id="typing" readonly role="textarea"></input> -->
        <textarea onpaste="return false" id="typing" readonly></textarea>

        <div id="buttons">
            <button id="start" onclick="joinRoom()">Start</button>
            <button id="reset">Reset</button>
        </div>

        <div id="results"></div>
        <div id="speedometer">
            <svg id="svg1">
                <circle cx="50%" cy="50%" r="50%" fill="black"/>
                <line x1 = "50%" y1 = "50%" x2 = "14%" y2 = "50%" stroke = "white" stroke-width = "3" id="line"/>
                <text x = "28px" y = "86%">0</text>
                <text x = "15px" y = "75%">5</text>
                <text x = "5px" y = "63%">10</text>
                <text x = "0px" y = "52%">15</text>
                <text x = "5px" y = "40%">20</text>
                <text x = "14px" y = "30%">25</text>
                <text x = "26px" y = "20%">30</text>
                <text x = "42px" y = "14%">35</text>
                <text x = "61px" y = "9%">40</text>
                <text x = "83px" y = "8%">45</text>
                <text x = "103px" y = "9%">50</text>
                <text x = "124px" y = "14%">55</text>
                <text x = "140px" y = "22%">60</text>
                <text x = "152px" y = "31%">65</text>
                <text x = "160px" y = "41%">70</text>
                <text x="50%" y="98%" text-anchor="middle" id="currentUserName">YOU</text>
            </svg>
            <svg id="svg2">
                <circle cx="50%" cy="50%" r="50%" fill="black"/>
                <line x1 = "50%" y1 = "50%" x2 = "14%" y2 = "50%" stroke = "white" stroke-width = "3" id="line2"/>
                <text x = "28px" y = "86%">0</text>
                <text x = "15px" y = "75%">5</text>
                <text x = "5px" y = "63%">10</text>
                <text x = "0px" y = "52%">15</text>
                <text x = "5px" y = "40%">20</text>
                <text x = "14px" y = "30%">25</text>
                <text x = "26px" y = "20%">30</text>
                <text x = "42px" y = "14%">35</text>
                <text x = "61px" y = "9%">40</text>
                <text x = "83px" y = "8%">45</text>
                <text x = "103px" y = "9%">50</text>
                <text x = "124px" y = "14%">55</text>
                <text x = "140px" y = "22%">60</text>
                <text x = "152px" y = "31%">65</text>
                <text x = "160px" y = "41%">70</text>
                <text x="50%" y="98%" text-anchor="middle" id="otherPlayerName"></text>
            </svg>
        </div>
   </div>
<script>
    
    //document.getElementById('typing').style.filter = 'blur(4px)';
    //document.getElementById('content').style.filter = 'blur(4px)';

    const socket = io("http://localhost:4000/");
    reset();
    var stopTimerID;
    var smallTimerID;
    var totalLength;
    var roomJoined = false;
    var started = false;
    var wpm = 0, correctChar = 0, totalChar = 0;

    function joinRoom(){
        if(roomJoined)
          return;
        roomJoined = true;
        socket.emit('join-room', '');

    }

    socket.on('result', (data)=>{
        if(data.winner==-1){
          alert("It's a tie");
        }
        else
        {
          alert(data.winner + " is the winner");
        }
    })

    socket.on('recieve-data', (data)=>{
        console.log(JSON.parse(data).id);

        document.getElementById('otherPlayerName').textContent = JSON.parse(data).id;
        document.getElementById('line2').style.transform = `rotate(${JSON.parse(data).speed*3-45}deg)`;
    });

    socket.on('start-match', (data)=>{
    {{!-- document.getElementById('start').addEventListener('click', function () { --}}

        if(started)
            return;

        {{!-- joinRoom(); --}}

        reset();
        started = true;

        let s = 4;
        window.smallTimerID = setInterval(function () {
            if (s == 0) {
                clearInterval(window.smallTimerID);

                //document.getElementById('typing').style.filter = 'blur(0px)';
                //document.getElementById('content').style.filter = 'blur(0px)';

                // let ad = new Audio("a.mp3");
                // ad.play().then(function () {


                document.getElementById('typing').readOnly = false;
                document.getElementById('typing').focus();

                // let now = new Date();
                let x = 60;
                window.stopTimerID = setInterval(function () {
                    // document.getElementById('timer').innerText = `${Math.floor(( (new Date()-now)/1000/60) << 0)}:${Math.floor(( (new Date()-now) /1000) % 60)}` ;
                    document.getElementById('timer').innerText = x;
                    if (x == 0) {
                        document.getElementById('typing').readOnly = true;
                        console.log(wpm, correctChar, totalChar);

                        document.getElementById('results').innerText = 'WPM : ' + (correctChar)/5.0 + ' Accuracy : ' + (((correctChar)/totalChar)*100).toFixed(2) + '%';
                        clearInterval(window.stopTimerID);

                        {{!-- let str = document.cookie; --}}
                        {{!-- let arr = str.split('; '); --}}
        
                        {{!-- for(let i = 0; i<arr.length; i++) --}}
                        

                        postRequest('http://localhost:4000/insertdata',{speed : (correctChar)/5.0});
                    
                        
                        started = false;
                        socket.emit('final-data', {speed: (correctChar/(5*(60-x)))*60 });
                    }
                    document.getElementById('line').style.transform = `rotate(${(correctChar/(5*(60-x)))*60*3-45}deg)`;
                    socket.emit('data', {speed: (correctChar/(5*(60-x)))*60 });
                    x--;
                }, 1000);
                // });
                return;
            }
            s--;
            document.getElementById('timer').innerText = s;
        }, 1000);
     }
     );
    {{!-- }   ) --}}

    socket.on('recieve-data', (data) => {
        console.log(data);
    })

    function postRequest(url, data) {

        let xml = new XMLHttpRequest();
        xml.open('POST', url, true);
        xml.setRequestHeader('Content-type', 'application/json');
        xml.onload = function(){
            console.log(this.responseText);
        }
        xml.send(JSON.stringify(data));
    }

    function loadContent() {

        request = new XMLHttpRequest();

        request.open("GET", "http://metaphorpsum.com/paragraphs/1/30", true);

        request.onload = function () {

            console.log(this.status);
            if (this.status == 200 && this.readyState == 4) {
                console.log("reg");
                // document.getElementById('content').innerText = this.responseText;
                let ans = this.responseText;
                totalLength = ans.length;

                let arr = ans.split(/()/);

                console.log(arr);

                let contentChange = '';

                for (let i = 0; i < arr.length; i = i + 2) {
                    contentChange = contentChange + `<div class="align">${arr[i]}</div>`;
                }
                console.log(contentChange);

                document.getElementById('content').innerHTML = contentChange;

            }
        };
        request.send();
    }

    document.getElementById('reset').addEventListener('click',reset); 
    function reset() {

        document.getElementById('timer').innerText = '';
        document.getElementById('content').innerText = '';
        document.getElementById('typing').value = '';
        document.getElementById('results').innerText = '';
        clearInterval(stopTimerID);
        clearInterval(smallTimerID);

        if(roomJoined)
          socket.emit('leave-room',{});

        started = false;
        roomJoined = false;
        wpm = 0;
        correctChar = 0;
        totalChar = 0;
        document.getElementById('line').style.transform = 'rotate(-45deg)';
        document.getElementById('line2').style.transform = 'rotate(-45deg)';

        loadContent();

    };

    var previous = -1;
    document.getElementById('typing').addEventListener('input', function () {

        totalChar++;

        let string = document.getElementById('typing').value;
        // console.log(string);

        let original = document.getElementById('content').getElementsByClassName('align');

        //first get the words written in the content say y;
        //then get the words written in the typing field say x;
        //then recolor the first x words in the content based on their check

        if (string.length > totalLength) {
            clearInterval(stopTimerID);
            return;
        }
        if (previous >= string.length) {
            original[previous].style.backgroundColor = 'white';
            original[previous].style.color = 'black';
            document.getElementById('content').scrollTop = original[previous].offsetTop - document.getElementById('content').offsetTop - 3;


            previous = string.length - 1;

            return;
        }
        // console.log(previous);

        try {
            // console.log(string[string.length-1], original[string.length-1]);
            // console.log(string[string.length-1],original[string.length-1].innerText);

            document.getElementById('content').scrollTop = original[string.length - 1].offsetTop - document.getElementById('content').offsetTop - 3;

            if (string[string.length - 1] == " " && original[string.length - 1].innerText == " ") {
                console.log(string[string.length - 1]);
                document.getElementById('content').getElementsByClassName('align')[string.length - 1].style.backgroundColor = 'blue';
                document.getElementById('content').getElementsByClassName('align')[string.length - 1].style.color = 'white';
                previous = string.length - 1;

                wpm++;
                correctChar++;

                return;
            }
            if (string[string.length - 1] == original[string.length - 1].innerText) {
                document.getElementById('content').getElementsByClassName('align')[string.length - 1].style.backgroundColor = 'blue';
                document.getElementById('content').getElementsByClassName('align')[string.length - 1].style.color = 'white';

                correctChar++;
            }
            else {
                document.getElementById('content').getElementsByClassName('align')[string.length - 1].style.backgroundColor = 'red';
            }
        } catch (err) {
        }

        previous = string.length - 1;

    });

    const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
    

</script>